
:root{
    --main-height:40px;
    --ul-height: auto;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    height:var(--ul-height);
    
}
.map-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top:var(--main-height);
    height: calc(100% - (var(--ul-height)));
    min-height: calc(100% - 40px);
    
}
.map {
    top: 0;
    bottom: 0;
    width: 80%;
    height: 100%;
    z-index: 0;
}

.content {
    display: flex;
    flex-wrap: wrap;
    overflow:scroll;
    justify-content: space-between;
    width: 20%;
    max-width: 350px;

}


.listings {
  
  width: 100%;
  display: flex;
  flex-direction: column;
}

.listings p {
  font-size: calc(5px +2vmin);
  font-weight: bold
}

.listings-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.grid_stores {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    
  } 

  .listings-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

.map-filter {
  z-index: 10;
  display: flex;
  margin-top: 2px;
  flex-direction: row;
  /* padding: 0.5em; */
  margin: 10px 0 0 10px;
  background-color: aliceblue;
  border-radius: 13px;
  align-items: center;
  padding: -1px;
  overflow: hidden;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: absolute;
  width: inherit;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,600,700");
*
{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.range
{
  background:#fff;
  height:60px;
  width:280px;
  border-radius:10px;
  padding:0 65px 0 45px;
  
}
.range .sliderValue
{
  position:relative;
  width:100%;
}
.range .sliderValue span 
{
  position:absolute;
  height:45px;
  width:45px;
  color:#000000;
  font-weight:500;
  top:-20px;
  /* transform:translateX(-50%) scale(0); */
  transform-origin:bottom;
  transition: transform 0.3s ease-in-out;
  line-height:55px;
  z-index:2;
  margin-left: -7%;
}
.range .sliderValue span.show
{
  /* transform:translateX(-50%) scale(1); */
}

.range .field 
{
  position:relative;
  display:flex;
  align-items:center;
  
  height:100%;
}
.range .field .value
{
  position:absolute;
  font-size:16px;
  font-weight:600;
  color:#664AFF;
}
.range .field .value.left
{
  left:-22px;
}
.range .field .value.right
{
  right:-70px;
}
.range .field input
{
  -webkit-appearance: none;
  height:3px;
  width:100%;
  background:#ddd;
  border-radius:5px;
  border:none;
  outline:none;
}

.range .field input::-webkit-slider-thumb,
.range .field input::-moz-range-thumb
{
  -webkit-appearance: none;
  height:20px;
  width:20px;
  background:#664AFF;
  border:none;
  border-radius:50%;
  cursor:pointer;
}
.range .field input::-moz-range-progress
{
  background:#664AFF;
}

.card {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label {
  width: max-content;
  color: tomato;
  font-size: 13px;
  border-bottom: 0.5px solid tomato;
  margin: 3px 0;
}

.desc {
  font-size: 14px;
}

.star {
  color: gold;
}

.username {
  font-size: 14px;
}

.date {
  font-size: 12px;
}

form {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(88, 87, 87);
}

input {
  border: none;
  border-bottom: 1px solid gray;
}

input::placeholder,
textarea::placeholder {
  font-size: 12px;
  color: rgb(185, 184, 184);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

textarea {
  border: none;
  border-bottom: 1px solid gray;
}

.submitButton {
  border: black;

}

.buttons,
.logout {
  position: absolute;
  top: 10px;
  right: 10px;
}

.button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.button:focus{
  outline: none;
}

.logout{
  background-color: tomato;
}

.login{
  background-color: teal;
  margin-right: 10px;
}

.register{
  background-color: slateblue;
}