@tailwind base;
@tailwind components;
@tailwind utilities;
/* Define a custom CSS class */
.custom-button {
    background-color: #2d3748; /* Equivalent to bg-gray-800 in Tailwind CSS */
    color: #fff; /* Equivalent to text-white in Tailwind CSS */
    font-weight: bold; /* Equivalent to font-bold in Tailwind CSS */
    padding: 0.5rem 1rem; /* Equivalent to py-2 px-4 in Tailwind CSS */
    border-radius: 0.25rem; /* Equivalent to rounded in Tailwind CSS */
    transition: background-color 0.3s ease; /* Hover transition effect */
    margin-right:1em
  }
  
  /* Define hover effect for the custom button */
  .custom-button:hover {
    background-color: #1a365d; /* Equivalent to hover:bg-blue-700 in Tailwind CSS */
    /* You can add additional hover styles as needed */
  }

  

